<title>Registration Success</title>
<!-- TODO: on this page load the username and password do not load, they only onlyy on page refresh  -->
<br>
<div class="section ptb1rem">
  <div class=" text-center">
    <h3 class="color-green ">Your Registration was successfull!</h3>
    <br>
    <i class="mb1rem">Login to continue.</i>
  </div>
</div>
Email<%- locals.user.email%>
Password<%- locals.user.password; %>
<div class="col g-marglrrem g-padlrrem">
  <h1 class="text-center mb1rem">Login</h1>
  <form class="form g-marglrrem mb2rem" action="/users/login" method="POST">
    <% if(locals.user) { %>
    <div class="">
      <label for="email">Email</label>
      <input class="" value="<%- locals.user.email%>" type="text" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="">
      <label for="password">Password</label>
      <input class="" value="<%- locals.user.password; %>" type="text" id="password" name="password" placeholder="Enter password" />
    </div>
    <% } else { %>
    <div class="">
      <label for="email">Email</label>
      <input class="" type="text" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="">
      <label for="password">Password</label>
      <input class="" type="text" id="password" name="password" placeholder="Enter password" />
    </div>
    <% } %>
    <% if(locals.messages.error.email.anyExists){ %>
    <!-- <div class="alert alert-danger alert-dismissible" role="alert"> <h4>Email-Username:</h4> -->
    <div style="color: rgb(255, 0, 0);">
      <% console.log('messages.error.email.length = ', locals.messages.error.email.msg.length) %>
      <% for(var i=0; i<locals.messages.error.email.msg.length; i++) { %>
      <%- locals.messages.error.email.msg[i] %>
      <% } %>
    </div>
    <% } else if(locals.messages.success.email !== ''){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <h4>Password:</h4>
      <%- locals.messages.success.email %>
    </div>
    <% } %>
    <% if(locals.messages.error.password.anyExists){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4>Password:</h4>
      <% for(var i=0; i<locals.messages.error.password.msg.length; i++) { %>
      <%- locals.messages.error.password.msg[i] %>
      <% } %>
    </div>
    <% } else  if(locals.messages.success.password !== ''){ %>
    <div style="color: rgb(255, 0, 0);" class="pt-5 border-top-0">
      <%- locals.messages.success.password %>
    </div>
    <% } %>
    <button class="btn mt1rem mt2rem mb1rem" type="submit">Login</button>
  </form>
  <div class="mb2rem"></div>
</div>


