<title>Registration</title>

<div class="col g-marglrrem g-padlrrem">
  <h1 class="text-center mtb1rem"> <i class=""></i> Registration </h1>
  <form class="form g-marglrrem" id="registerForm">
    <div class="mt10 m4 p10 r10 ba overflowHidden">
      <label for="email">Email</label>
      <input class="" novalidate="novalidate" type="text" id="email" name="email" value="<%- locals.email; %>" placeholder="Enter Email" />
      <% if(locals.messages.error.email.anyExists){ %>
      <% for(var i=0; i<locals.messages.error.email.msg.length; i++) { %>
      <li class="error ml1rem mt6 text-shadow "><%- locals.messages.error.email.msg[i] %></li>
      <% } %>
      <% } else if(locals.messages.success.anyExists) { %>
      <li class="success ml1rem mt6 text-shadow "><%- locals.messages.success.email %></li>
      <% } %>
    </div>
    <div class="mt10 m4 p10 r10 ba overflowHidden">
      <label for="password">Password</label>
      <input class="" type="text" id="password" name="password" value="<%- locals.password; %>" placeholder="Enter Password" />
      <div class="mtb20"></div>
      <label for="password2">Confirm Password</label>
      <input class="" type="text" id="password2" name="password2" value="<%- locals.password2; %>" placeholder="Confirm Password" />
      <% if(locals.messages.error.password.anyExists){ %>
      <% for(var i=0; i<locals.messages.error.password.msg.length; i++) { %>
      <li class="error ml1rem mt6 text-shadow "><%- locals.messages.error.password.msg[i] %></li>
      <% } %>
      <% } else if(locals.messages.success.anyExists) { %>
      <li class="success ml1rem mt6 text-shadow "><%- locals.messages.success.password %></li>
      <% } %>
    </div>
    <input class="btn mtb1rem ml6 preventTextSelection" id="submitBtn" type="submit" value="Register" />
  </form>
  <p class="belowForm ptb1rem">Have An Account?
    <a class="link" href="/users/login">Login</a>
  </p>
</div>

<script>
  console.log("HELLO FROM FORM")

  // const registerForm = document.getElementById('registerForm');
  // const submitBtn = document.getElementById('submitBtn');
  // submitBtn.addEventListener("click", async (event) => {
  //   //   const OnSubmit = async function(e) {
  //   event.preventDefault();
  //   // Get user's input values
  //   const email = registerForm.email.value; // Accessing email key by the <input>:name="" field
  //   const password = registerForm.password.value; // Accessing password key by the <input>:name="" field
  //   const password2 = registerForm.password2.value;
  //   console.log("-------------------------------------\nOnSubmit register form:\n  ", email, password, password2)

  //   // const formData = new FormData(registerForm);
  //   // console.log("OnSubmit FormData:\n  ", formData)

  //   const result = await fetch('/users/register', {
  //     method: 'POST',
  //     headers: {
  //       'Content-Type': 'application/json'
  //     },
  //     body: JSON.stringify({
  //       email,
  //       password,
  //       password2
  //     }),
  //   });

  //   if(result){
  //       // registerForm.reset();
  //       // console.log('Fetch result:', result)
  //       // window.location.reload(false);
  //   }

  // });

  //   registerForm.addEventListener('submit', OnSubmit, false);
  // const registerForm = document.getElementById("registerForm");

  registerForm.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log("------------------------------------------------------------------------------")
    registerForm.method = 'post';
    registerForm.action = '/users/register';
    registerForm.submit();
  });
</script>

<!-- // try {
    const result = await fetch('/users/register', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        email,
        password,
        password2
      }),
    });

  // } catch (err) {
  //   console.log("ERROR at submiting the register form. err:", err)
  // } -->