<title>Reset Password Success</title>

<div class="text-center section ptb1rem">
  <div class=" ">
    <h3 class=" color-green">Your password reset was successfull!</h3>
    <h4 class="mb1rem"><i>Login with the new password</i></h4>
  </div>
</div>
<input name="userid" style="display:none; visibility: hidden;" value="<%- locals.resetPwdUserId %>" />
<div class="col g-marglrrem g-padlrrem "></div>
<h1 class="text-center mtb1rem">Login</h1>
<form class="form g-marglrrem mb2rem" action="/users/login" method="POST">
  <% if(locals.user) { %>
  <div class="mt10 m4 p10 r10 ba overflowHidden">
    <label for="email">Email</label>
    <input class="" value="<%- locals.user.email%>" type="text" id="email" name="email" placeholder="Enter email" />
  </div>
  <div class="mt10 m4 p10 r10 ba overflowHidden">
    <label for="password">Password</label>
    <input class="" value="<%- locals.user.password; %>" type="text" id="password" name="password" placeholder="Enter password" />
  </div>
  <% } else { %>
  <div class="mt10 m4 p10 r10 ba overflowHidden">
    <label for="email">Email</label>
    <input class="" type="text" id="email" name="email" placeholder="Enter email" />
  </div>
  <div class="mt10 m4 p10 r10 ba overflowHidden">
    <label for="password">Password</label>
    <input class="" type="text" id="password" name="password" placeholder="Enter password" />
  </div>
  <% } %>
  <% if(locals.messages.error.email.anyExists){ %>
  <div style="color: rgb(255, 0, 0);">
    <% console.log('messages.error.email.length = ', locals.messages.error.email.msg.length) %>
    <% for(var i=0; i<locals.messages.error.email.msg.length; i++) { %>
    <%- locals.messages.error.email.msg[i] %>
    <% } %>
  </div>
  <% } else if(locals.messages.success.email !== ''){ %>
  <div class="">
    <h4>Password:</h4>
    <%- locals.messages.success.email %>
  </div>
  <% } %>
  <% if(locals.messages.error.password.anyExists){ %>
  <div class="">
    <h4>Password:</h4>
    <% for(var i=0; i<locals.messages.error.password.msg.length; i++) { %>
    <%- locals.messages.error.password.msg[i] %>
    <% } %>
  </div>
  <% } else  if(locals.messages.success.password !== ''){ %>
  <div style="color: rgb(255, 0, 0);" class="pt-5 border-top-0">
    <%- locals.messages.success.password %>
  </div>
  <% } %>
  <button class="btn mt1rem mt2rem mb1rem ml6" type="submit">Login</button>
</form>
<div class="ptb1rem"></div>
</div>
</div>